$bg-color: #f8f8f8;
$white: #fff;
$grey: #c0c3c9;
$grey-light: #eceff3;
$grey-hard: #76797e;
$grey-hover: #f2f4f7;
$blue: #1585ff;
$btn-text-color: #999da5; 
$gold: #f9c50f;
$border-color: #e5e8ee;
$black-light: #1d2025;
$black: #000;
$card-bg-color: #fff;
